.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  background: #fff;
  padding:0;
  width:100%;
  color:black;
}

.deck-container:not(.deck-menu) > .slide{
  width: 90% !important;
  padding: 0 !important;
  margin: 0 5% !important;
}

.deck-container .slide {
  background: #fff;
  position:relative;
}
.deck-container .slide h1 {
  padding:0;
  font-size:3em;
}
.deck-container .slide h2 {
  border:none !important;
}
.deck-container .slide h3 {
}
.deck-container .slide pre {
  border:none !important;
}
.deck-container .slide code {
  color: #888;
}
.deck-container .slide blockquote {
  font-size: 3em;
  padding: 0 5%;
  width:90%;
  font-weight: bold;
}
.deck-container .slide blockquote p {
  margin: 0;
}
.deck-container .slide blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
.deck-container .slide ::-moz-selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide ::selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color:black;
  text-decoration: none;
  border-bottom: 1px solid;
}
.deck-container .slide a:hover, .deck-container .slide a:focus {
  border-bottom:none;
}
.deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
  opacity: 0.4;
}
.deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.deck-container > .slide .deck-child-current {
  opacity: 1;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #ccc;
  font-family: serif;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: #eee;
}
.deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}


/* tct2003 */
.deck-container header,
.deck-container footer{
  position:absolute;
  width:100%;
  height:10%;
  margin:0;
  padding:0;
  text-align: center;
  overflow:hidden;
  padding-top:20px;
}
.deck-container header{
  top:0;
}
.deck-container footer{
  bottom:0;
}
.deck-container .container{
  width:100%;
  height:70%;
  margin:0;
  padding:0;
  position:absolute;
  top:15%;
  overflow:hidden;
  text-align: left;
}

.deck-container .row{
  width:100%;
}


.hilight{
  border-bottom:3px solid !important;
}

.timeline-line{
  position:fixed;
  top:60px;
  height:3px;
  width:100%;
  background-color:black;
  display: block;
  z-index: 10;
}

.deck-container .timeline-date{
  font-size:1.25em;
  font-weight: bold;
}




/* 12 column grid with gutter of 2% */

.span1{
  width:6.5%;
  position:relative;
  float:left;
}
.offset1{
  margin-left:8.5% !important;
}
.span2{
  width:15%;
  position:relative;
  float:left;
}
.offset2{
  margin-left:17% !important;
}
.span3{
  width:23.5%;
  position:relative;
  float:left;
}
.offset3{
  margin-left:25.5% !important;
}
.span4{
  width:32%;
  position:relative;
  float:left;
}
.offset4{
  margin-left:34% !important;
}
.span5{
  width:40.5%;
  position:relative;
  float:left;
}
.offset5{
  margin-left:42.5% !important;
}
.span6{
  width:49%;
  position:relative;
  float:left;
}
.offset6{
  margin-left:51% !important;
}
.span7{
  width:57.5%;
  position:relative;
  float:left;
}
.offset7{
  margin-left:59.5% !important;
}
.span8{
  width:66%;
  position:relative;
  float:left;
}
.offset8{
  margin-left:68% !important;
}
.span9{
  width:74.5%;
  position:relative;
  float:left;
}
.offset9{
  margin-left:76.5% !important;
}
.span10{
  width:83%;
  position:relative;
  float:left;
}
.offset10{
  margin-left:85% !important;
}
.span11{
  width:91.5%;
  position:relative;
  float:left;
}
.offset11{
  margin-left:93.5% !important;
}
.span12{
  width:100%;
  position:relative;
  float:left;
}


.row1{
  height:5%;
  position: relative;
  width:100%;
}
.buffer1{
  margin-top:5% auto !important;
}
.row2{
  height:10%;
  position: relative;
  width:100%;
}
.buffer2{
  margin-top:10% auto !important;
}
.row3{
  height:15%;
  position: relative;
  width:100%;
}
.buffer3{
  margin-top:15% auto !important;
}
.row4{
  height:20%;
  position: relative;
  width:100%;
}
.buffer4{
  margin-top:20% auto !important;
}
.row5{
  height:25%;
  position: relative;
  width:100%;
}
.buffer5{
  margin-top:25% auto !important;
}
.row6{
  height:30%;
  position: relative;
  width:100%;
}
.buffer6{
  margin-top:30% auto !important;
}
.row7{
  height:35%;
  position: relative;
  width:100%;
}
.buffer7{
  margin-top:35% auto !important;
}
.row8{
  height:40%;
  position: relative;
  width:100%;
}
.buffer8{
  margin-top:40% auto !important;
}
.row9{
  height:45%;
  position: relative;
  width:100%;
}
.buffer9{
  margin:45% auto !important;
}
.row10{
  height:50%;
  position: relative;
  width:100%;
}
.row11{
  height:55%;
  position: relative;
  width:100%;
}
.row12{
  height:60%;
  position: relative;
  width:100%;
}
.row13{
  height:65%;
  position: relative;
  width:100%;
}
.row14{
  height:70%;
  position: relative;
  width:100%;
}
.row15{
  height:75%;
  position: relative;
  width:100%;
}
.row16{
  height:80%;
  position: relative;
  width:100%;
}
.row17{
  height:85%;
  position: relative;
  width:100%;
}
.row18{
  height:90%;
  position: relative;
  width:100%;
}
.row19{
  height:95%;
  position: relative;
  width:100%;
}
.row20{
  height:100%;
  position: relative;
  width:100%;
}


.deck-container .slide img{
  margin-bottom:0;
}

.deck-container .slide .fit img,
.deck-container .slide .fit iframe{
  height:100%;
  max-height:100%;
  max-width:100%;
  text-align: center;
  margin:auto;
}

.deck-container .slide .fit figcaption{
  width:100%;
  text-align: center;
  margin:10px auto 0 !important;
}

.deck-container .slide blockquote.fit{
  text-align: left;
}

iframe{
  border:1px solid !important;
}


.deck-container .slide .fit{
  max-height:100%;
  max-width:100%;
  text-align: center;
  margin:auto;
}


.slide-bg{
  position:absolute;
  width:100%;
  height:100%;
  z-index:-1;
}

.slide-bg img{
  max-height:100%;
  max-width:100%;
  text-align: center;
  margin:auto;
}

cite.title{
  border-bottom:1px solid;
}

.deck-container figure{
  text-align: center;
  max-height:100%;
  max-width:100%;
  text-align: center;
  margin:auto;
}
.deck-container figcaption{
  font-family: "Courier New", Courier, monospace;
  bottom:0;
  position: relative;
}

.deck-container pre{
  text-align: left;
  font-size:14px;
}


#lecture-selector{
  position:fixed;
  top:20px;
  left:20px;
  z-index:10000;
}
