/* tags */
p {
	color: red;
}

/* IDs */
#wrapper{
	padding:100px;
}

/* classes */
.container{
	background-color:#aaa;
	margin:10px 20px 30px 40px;
	padding:10px 20px;
	float:left;
}

.first{
	color: blue;
}

.second{
	color: yellow;
}
