* {padding: 0;
margin:0;}

body{
	margin:0;
	background-color: black;
}

#header{
	background-color: black;
	min-height:60px;
	position: fixed;
	z-index:100;
	width:100%;
	max-width:1100px;
}

#header h1{
	color: white;
	text-align:left;
	float:left;
	line-height: 40px;
	font-size: 150%;
	margin-left:10px;
	font-family: 'Cuprum', sans-serif;
}



#header #navigation a{
	text-align:right;
	float:right;
	color: white;
	font-size: 15px;
	line-height: 40px;
	margin-right:10px;
	text-decoration: none;
	list-style: none;
	font-family: 'Cuprum', sans-serif;
}

#main {
	background-color: black;
	position: absolute;
	z-index: 1;
	top:60px;
}
.container{
	width:100%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
}

.container img{
	width:200px;
	height:163px;
}

#footer{
	font-family: 'Cuprum', sans-serif;
	color: gray;
	font-size: 12px;
	float:left;
	text-align: left;
	position:absolute;
	z-index: 1;
}

#question{
	position: fixed;
	z-index:100;
	list-style: none;
	background-color: black;
	border:0;
	font-family: 'Cuprum', sans-serif;
	
	height:180px;
	top:50%;
	margin-top:-90px;
	width:300px;
	left:50%;
	margin-left:-150px;
	
	text-align: center;
	padding: 10px;
}

.question-text{
	display:none;
}

#questions-list{
	font-size: 20px;
	font-family: 'Cuprum', sans-serif;
	color: white;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-110px;
	margin-top:-90px; 
	list-style-type: none;
	width: 220px;
	height: 200px;
}

#question-question{
	font-family: 'Cuprum', sans-serif;
	font-size: 30px;
	color: white;
	text-decoration: none;
}

#question-prev,
#question-next{
	position:absolute;
	top:50%;

	width:20px;
	height:20px;

	margin-top:-10px;

	color:white;
}

#question-prev:hover,
#question-next:hover,
#about:hover,
#submission:hover,
#header:hover,
.close-button:hover{
	cursor:pointer;
}

#question-prev{
	left:10px;
	display:none;
}

#question-next{
	right:10px;
}



#questions-list li{
	position:relative;
	margin-top: 45px;
	top:0;
}

.video-item{
	float:left;
	margin:0 20px 20px 0;
}

.video-item img.clickable:hover{
	cursor:;
}





#submissionlink{
	position: absolute;
	left: 20px;
	bottom: 40px;
}


.close-button{
	text-align: right;
	float:right;
	font-family: 'Cuprum', sans-serif;
	color: white;
	text-decoration: none;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#video-popup {
	position: fixed;
	padding: 10px;
	width: 600px;
	height: 460px;
	z-index: 200;
	display: none;
	margin-left: -300px;
	margin-top: -200px;
	top:50%;
	left:50%;
	background-color: black;
}

#video-container {
	left:0;
	top:0;
	width: 600px;
	height: 400px;
}

#video-background {
	position: absolute;
	top: 0;
	background-color: black;
	z-index: 150;
	opacity: 0.8;
	display: inline;
	position: absolute;
	width: 100%;
	height: 1000px;
	display: none;
}


#video-question{
	text-align: center;
	clear:left;	
	font-family: 'Cuprum', sans-serif;
	color: white;
	width:500px;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 24px;
	list-style-type: none;
}

#wrapper {
	max-width:1100px;
	margin:0 auto;
	text-align: center;
	position:relative;
	left:10px;
}

#questions-mask2{
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 40px;
	text-align: left;
}


#questions-mask2 select{
	background: black;
	border:0;
	font-family: 'Cuprum', sans-serif;
	color:white;
	font-size: 14px;
	text-decoration: none;
	
}



#urlsubmission{
	width: 100%;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;

}

#urllink{
	width: 540px;
}

#submit-button{
	background:black;
	border:0;
	font-family: 'Cuprum', sans-serif;
	color:white;
	text-decoration: none;
	margin-top: 4px;
	float: right;
	margin-right: 40px;
	text-align: right;
	font-size: 14px;
}


@media screen and (min-width: 481px){

	#submissionpage{
		position: fixed;
		display: none;
		z-index:300;
		list-style: none;
		padding:20px;
		background-color: black;
		opacity:0.85;
		border:0;
		list-style-type: disc;
		font-family: 'Cuprum', sans-serif;
		color:white;
		width:634px;
		height:300px;
		top:50%;
		left:50%;
		margin-top:-150px;
		margin-left:-317px;
		text-align: left;	
	}

	#aboutpage{
		position: fixed;
		display: none;
		z-index:300;
		list-style: none;
		padding:20px;
		background-color: black;
		opacity:0.85;
		border:0;
		font-family: 'Cuprum', sans-serif;
		color:white;
		width:300px;
		height:300px;
		top:50%;
		left:50%;
		margin-top:-150px;
		margin-left:-150px;
		text-align: left;	
	}
}





@media screen and (max-width: 480px){

	#submissionpage{
		position: fixed;
		display: none;
		z-index:300;
		list-style: none;
		padding:20px;
		background-color: black;
		opacity:0.85;
		border:0;
		list-style-type: disc;
		font-family: 'Cuprum', sans-serif;
		color:white;
		width:200px;
		height:500px;
		top:50%;
		left:50%;

		margin-top:-250px;
		margin-left:-100px;

		text-align: left;	
	}
}





