body{
	font-family:'Avenir LT W01 65 Medium';
	color:black;
}

h1,h2,h3,h4,h5,h6{
	font-family:'Avenir LT W01 95 Black';
}



#wrapper{
	width:1024px;
	margin:0 auto;
	text-align:center;
}

#map{
	width:200px;
	float:left;
}

.survivor{
	width: 800px;
	margin-bottom: 40px;
	float:left;
	text-align: left;
	margin-right:24px;
}

.text{
	width:500px;
	float:left;
	margin-bottom:20px;
}

.video{
	width:100%;
	float:left;
	clear:both;
	margin-bottom:20px;
}

.gallery{
	width:100%;
	float:left;
	clear:both;
}

.comments{
	width:100%;
	float:left;
	clear:both;
	border:1px solid black;
}


.gallery-item{
	float:left;
	margin:0 20px 20px 0;
}

.info{
	margin-bottom: 20px;
}





